@*@model Vidly.ViewModels.CustomersViewModel*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Count == 0)
{
    @:No Customers
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr style="background:grey; color: white;">
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink((string)customer.Name, "Edit", new { id = customer.ID }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button class="btn" data-delete-id="@customer.ID" data-delete-name="@customer.Name">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



<div id="modal-container">

</div>
@section scripts {
    <script>
       $('#customers').off().on("click", "[data-delete-name]", function () {
            var _this = $(this);

            sjModal.confirm("Are you sure you want to delete " + _this.attr("data-delete-name") + " from Vidly", function (result) {
                if (result) {
                    $.ajax({
                        url: "/API/Customers/" + _this.attr("data-delete-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success")
                            _this.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}
