@*@model Vidly.ViewModels.ProfileViewModel*@
@{
    ViewBag.Title = "Profile";
}

<h1>Profile</h1>
@Html.ActionLink("Back To Customers List", "Index", null, new { @class = "btn btn-primary" })
<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.DoB != null)
    {
        <li>DoB: @Model.DoB.ToString("dd/MM/yyyy")</li>
    }
</ul>