body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.float-right {
    float: right;
}

.ml-1 {
    margin-left: 10px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
     color: red;
}

#modal-container.modal-open {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

#sjModal {
    position: absolute;
    background: rgba(200,200,200,0.9);
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.sjModal__text {
    padding: 30px 20px;
}

.sjModal__btn {
    width: calc(50% - 5px);
}

.sjModal__btn--confirm {
    margin-left: 5px;
}
.sjModal__btn--cancel {
    margin-right: 5px;
}